<div class="row">
    <div class="col-md-6">
        <h2>Scheduler Dashboard</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/organizations">Organizations</a></li>
            </ul>
        </div>
    </div>
</div>


<ul>
    <li *ngFor="let i of nextTenDays">
        <a (click)="goToEmployeeScheduling(2003, i)">{{i | date: 'MM/dd/yyyy'}}</a>
    </li>
</ul>