<div class="row">
    <div class="col-sm-6">
        <h2>{{employeeName}}</h2>
    </div>
    <div class="col-sm-6" *ngIf="canViewOrganization">
        <div class="navbar pull-right">
            <ul class="nav navbar-nav navbar-nav-float">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row" *ngIf="!canViewOrganization && !!organizationMessage">
    <div class="col-sm-12 bg-info h3" style="color:#fff; padding:10px;">
        {{organizationMessage}}
    </div>
</div>

<div class="row" *ngIf="!canViewOrganization && !!organizationMessage">
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Conflicts</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddEmployeeConflict();">
            Add Conflict
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employeeConflict of conflicts" (click)="onEmployeeConflictSelect(employeeConflict)">
                    <td>{{employeeConflict.conflictDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{employeeConflict.startHour%12==0?12:employeeConflict.startHour%12}}{{employeeConflict.startHour<12?'AM':'PM'}} - {{employeeConflict.endHour%12==0?12:employeeConflict.endHour%12}}{{employeeConflict.endHour<12?'AM':'PM'}}</td>
                    <td><button class="btn btn-danger" (click)="onDeleteEmployeeConflict(employeeConflict.employeeConflictId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div  *ngIf="selectedEmployeeConflict" class="modal fade show in danger" id="conflictModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="selectedEmployeeConflict = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Employee Conflict Details</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="conflictErrors"></my-errors>
                <form name="selectedEmployeeConflictForm" novalidate>
                    <div class="form-group">
                        <label for="employeeConflictReason">Reason</label>
                        <input type="text" maxlength="100" class="form-control" id="employeeConflictReason" placeholder="" name="reason" [(ngModel)]="selectedEmployeeConflict.reason" required>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <my-datepicker [dateModel]="selectedEmployeeConflict.conflictDate" [label]="'Conflict Date'" [required]="true" (dateModelChange)="setConflictDate($event)"></my-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="conflictEnd">Conflict Time</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control" id="startHour" [(ngModel)]="selectedEmployeeConflict.startHour" name="startHour">
                                    <option [value]="i" *ngFor="let i of hours">{{i%12==0?12:i%12}}{{i<12?'AM':'PM'}}</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" id="endHour" [(ngModel)]="selectedEmployeeConflict.endHour" name="endHour">
                                    <option [value]="i" *ngFor="let i of hours">{{i%12==0?12:i%12}}{{i<12?'AM':'PM'}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSaveEmployeeConflict();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedEmployeeConflict = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Scheduled Shifts</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Position Name</th>
                    <th class="hidden-xs">Postion Category</th>
                    <th>Shift Start</th>
                    <th class="hidden-xs">Shift End</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts">
                    <td>{{shift.positionName}}</td>
                    <td class="hidden-xs">{{shift.positionCategory}}</td>
                    <td>{{shift.shiftStartTime | date:'short'}}</td>
                    <td class="hidden-xs">{{shift.shiftEndTime | date:'shortTime'}}</td>
                    <td>
                        <button class="btn btn-danger" *ngIf="!shift.cancelled" (click)="onShiftSelect(shift); $event.stopPropagation()">Cancel</button>
                        <span *ngIf="shift.cancelled">Cancelled: {{shift.cancelReason}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="selectedShift" class="modal fade show in danger" id="cancelShiftModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="selectedShift = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Cancel Shift</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="cancelErrors"></my-errors>
                <form name="selectedShiftForm" novalidate>
                    <h4>{{selectedShift.positionName}} {{selectedShift.shiftStartTime | date: 'short'}}-{{selectedShift.shiftEndTime | date: 'shortTime'}}</h4>
                    <div class="form-group">
                        <label for="shiftCancelReason">Reason</label>
                        <input type="text" maxlength="100" class="form-control" id="shiftCancelReason" placeholder="" name="cancelReason" [(ngModel)]="selectedShift.cancelReason" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onCancelShift(selectedShift.employeeShiftId, selectedShift.cancelReason);">Cancel Shift</button>
                <button type="reset" class="btn btn-default" (click)="selectedShift = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>