<div class="row">
    <div class="col-sm-6">
        <h2>Schedule <span class="small">{{scheduleDate.format('dddd')}} {{scheduleDate.format('MM/DD/YYYY')}}</span></h2>
    </div>
    <div class="col-sm-6">
        <div class="navbar pull-right">
            <ul class="nav navbar-nav navbar-nav-float">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a (click)="copyWeek()" href="javascript:;">Copy Week</a>
        &nbsp;|&nbsp;
        <a target="_blank" href="/report/week?organizationId={{organizationId}}&date={{scheduleDate.format('MM/DD/YYYY')}}">Print</a>
        &nbsp;|&nbsp;
        <a href="javascript:;" (click)="previousDay()">Previous Day</a>
        &nbsp;|&nbsp;
        <a href="javascript:;" (click)="nextDay()">Next Day</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label style="color:darkgreen;">{{successMessage}}</label>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <label style="color:red;">{{message}}</label>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-sm-12">
                <h3>Employees</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class='container' [dragula]='"schedule-bag"' [dragulaModel]='availableEmployees'>
                    <div class="employee-item" [ngClass]="{'bg-conflicts': employee.conflictSummary}" *ngFor='let employee of availableEmployees' title="{{employee.conflictSummary}}" attr.data-employee-id="{{employee.employeeId}}">{{employee.firstName}} {{employee.lastName}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="border-left: 2px solid darkgrey;">
        <div class="row">
            <div *ngFor="let positionCategory of positionCategories" class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>{{positionCategory}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div *ngFor='let shift of availableGroupedShifts[positionCategory]'>
                            <h4>{{ shift.positionName}} </h4>
                            <span class="small">{{shift.shiftTime}}</span>

                            <div class='container' [dragula]='"schedule-bag"' [dragulaModel]='shiftBags[shift.shiftId]' attr.data-shift-id="{{shift.shiftId}}">
                                <div>Drop Here</div>
                                <div *ngFor='let employee of shiftBags[shift.shiftId]' [ngClass]="{'bg-canceled': employee.canceled}" title="{{employee.canceled?'Canceled: '+employee.reason:''}}" >
                                    {{employee.firstName}} {{employee.lastName}}
                                    <button class="btn btn-danger btn-xs pull-right" (click)="remove(employee.employeeId, shift.shiftId)">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
