<div class="row">
    <div class="col-md-6">
        <h2>Setup</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Schedules</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddSchedule();">
            Add Schedule
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules" (click)="onScheduleSelect(schedule)">
                    <th scope="row">{{schedule.scheduleId}}</th>
                    <td>{{schedule.name}}</td>
                    <td><button class="btn" (click)="onEditSchedule(schedule); $event.stopPropagation()">Edit</button></td>
                    <td><button class="btn btn-info" (click)="showCopySchedule(schedule); $event.stopPropagation()">Copy</button></td>
                    <td><button class="btn btn-danger" (click)="onDeleteSchedule(schedule.scheduleId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="copySchedule" class="modal fade show in danger" id="copyScheduleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="copySchedule = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Copy Schedule</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="copyScheduleErrors"></my-errors>
                <form name="copyScheduleForm" novalidate>
                    <h2>Copy Schedule: {{copySchedule.sourceName}}</h2>
                    <div class="form-group">
                        <label for="scheduleName">Name</label>
                        <input type="text" class="form-control" id="scheduleName" placeholder="" name="name" [(ngModel)]="copySchedule.name" required>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="copySchedule.startDate" [label]="'Start Date'" [required]="true" (dateModelChange)="setCopyStartDate($event)"></my-datepicker>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="copySchedule.endDate" [label]="'End Date'" [required]="true" (dateModelChange)="setCopyEndDate($event)"></my-datepicker>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onCopySchedule();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="copySchedule = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="selectedSchedule" class="modal fade show in danger" id="scheduleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="selectedSchedule = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Schedule Details</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="scheduleErrors"></my-errors>
                <form name="addScheduleForm" novalidate>
                    <div class="form-group">
                        <label for="scheduleName">Name</label>
                        <input type="text" class="form-control" id="scheduleName" placeholder="" name="name" [(ngModel)]="selectedSchedule.name" required>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="selectedSchedule.startDate" [label]="'Start Date'" [required]="true" (dateModelChange)="setScheduleStartDate($event)"></my-datepicker>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="selectedSchedule.endDate" [label]="'End Date'" [required]="true" (dateModelChange)="setScheduleEndDate($event)"></my-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="message">Active</label>
                        <select class="form-control" id="isActive" [(ngModel)]="selectedSchedule.isActive" name="isActive" required>
                            <option [value]="i" *ngFor="let i of [true,false]">{{i ? "Active" : "Inactive"}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSaveSchedule();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedSchedule = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Positions</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddPosition();">
            Add Position
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let position of positions" (click)="onPositionSelect(position)">
                    <th scope="row">{{position.positionId}}</th>
                    <td>{{position.name}}</td>
                    <td>{{position.category}}</td>
                    <td><button class="btn btn-danger" (click)="onDeletePosition(position.positionId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="selectedPosition" class="modal fade show in danger" id="positionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="selectedPosition = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Position Details</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="positionErrors"></my-errors>
                <form name="addPositionForm" novalidate>
                    <div class="form-group">
                        <label for="positionName">Name</label>
                        <input type="text" class="form-control" id="positionName" placeholder="" name="name" [(ngModel)]="selectedPosition.name" required>
                    </div>
                    <div class="form-group">
                        <label for="positionCategory">Category</label>
                        <input type="text" class="form-control" id="positionCategory" placeholder="" name="category" [(ngModel)]="selectedPosition.category" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSavePosition();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedPosition = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Details</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddOrganizationManager();">
            Add Manager
        </button>
    </div>
</div>

<div class="row" *ngIf="selectedOrganization">
    <div class="col-md-6">
        <my-errors [errors]="organizationErrors"></my-errors>
        <form name="organizationForm" novalidate>
            <div class="form-group">
                <label for="organizationName">Name</label>
                <input type="text" class="form-control" id="organizationName" placeholder="" name="name" [(ngModel)]="selectedOrganization.name" required>
            </div>
            <div class="form-group">
                <label for="contactName">Contact Name</label>
                <input type="text" class="form-control" id="contactName" placeholder="" name="contactName" [(ngModel)]="selectedOrganization.contactName">
            </div>
            <div class="form-group">
                <label for="contactPhone">Contact Phone</label>
                <input type="tel" class="form-control" id="contactPhone" placeholder="" name="contactPhone" [(ngModel)]="selectedOrganization.contactPhone">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" placeholder="Message to staff" name="message" [(ngModel)]="selectedOrganization.message">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSaveOrganization();">Save</button>
        </form>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngIf="createOrganizationManager">
                    <div class="col-md-12">
                        <my-errors [errors]="managerErrors"></my-errors>
                        <form name="organizationManagerForm" novalidate>
                            <div class="form-group">
                                <label for="organizationName">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="" name="userName" [(ngModel)]="createOrganizationManager.userName" required>
                            </div>
                            <div class="form-group">
                                <label for="contactName">Password</label>
                                <input type="text" class="form-control" id="password" placeholder="" name="password" [(ngModel)]="createOrganizationManager.password" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="" name="phoneNumber" [(ngModel)]="createOrganizationManager.phoneNumber">
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email</label>
                                <input type="email" class="form-control" id="emailAddress" placeholder="" name="emailAddress" [(ngModel)]="createOrganizationManager.emailAddress" required>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="onSaveOrganizationManager();">Submit</button>
                            <button type="reset" class="btn btn-default" (click)="createOrganizationManager = null;$event.stopPropagation()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let organizationManager of organizationManagers">
                            <td>{{organizationManager.userName}}</td>
                            <td>{{organizationManager.phoneNumber}}</td>
                            <td><button class="btn btn-info" (click)="selectedManager = organizationManager;$event.stopPropagation()">Reset Password</button></td>
                            <td><button class="btn btn-danger" (click)="onDeleteOrganizationManager(organizationManager.username); $event.stopPropagation()">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="selectedManager" class="modal fade show in danger" id="managerResetModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" (click)="selectedManager = null;$event.stopPropagation()">&times;</button>
                    <h4 class="modal-title">Reset Manager Password</h4>
                </div>
                <div class="modal-body">
                    <my-errors [errors]="managerErrors"></my-errors>
                    <form name="resetManagerForm" novalidate>
                        <h2>Reset Password for {{selectedManager.userName}}</h2>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="" name="password" maxlength="20" [(ngModel)]="selectedManager.password" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (click)="onResetManagerPassword(selectedManager.password);">Reset</button>
                    <button type="reset" class="btn btn-default" (click)="selectedManager = null;$event.stopPropagation()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
