<div class="row">
    <div class="col-md-6">
        <h2>Organizations</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a routerLink="/organizations">Organizations</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <button class="btn btn-success pull-right" (click)="onAddOrganization();">
            Add Organization
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Contact Name</th>
                    <th>Contact Phone</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let organization of organizations" (click)="goToDetail(organization.organizationId)" [class.selected]="organization === selectedOrganization">
                    <th scope="row">{{organization.organizationId}}</th>
                    <td>{{organization.name}}</td>
                    <td>{{organization.contactName}}</td>
                    <td>{{organization.contactPhone}}</td>
                    <td><button class="btn btn-default" (click)="onSelect(organization); $event.stopPropagation()">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="onDeleteOrganization(organization.organizationId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" *ngIf="selectedOrganization">
    <div class="col-md-6">
        <form name="organizationForm">
            <div class="form-group">
                <label for="organizationName">Name</label>
                <input type="text" class="form-control" id="organizationName" placeholder="" name="name" [(ngModel)]="selectedOrganization.name">
            </div>
            <div class="form-group">
                <label for="contactName">Contact Name</label>
                <input type="text" class="form-control" id="contactName" placeholder="" name="contactName" [(ngModel)]="selectedOrganization.contactName">
            </div>
            <div class="form-group">
                <label for="contactPhone">Contact Phone</label>
                <input type="tel" class="form-control" id="contactPhone" placeholder="" name="contactPhone" [(ngModel)]="selectedOrganization.contactPhone">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" placeholder="Message to staff" name="message" [(ngModel)]="selectedOrganization.message">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSaveOrganization();">Submit</button>
            <button type="reset" class="btn btn-default" (click)="selectedOrganization = null;$event.stopPropagation()">Cancel</button>
        </form>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <button class="btn btn-success pull-right" (click)="onAddOrganizationManager();">
                        Add Organization Manager
                    </button>
                </div>
                <div class="row" *ngIf="createOrganizationManager">
                    <div class="col-md-12">
                        <form name="organizationManagerForm">
                            <div class="form-group">
                                <label for="organizationName">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="" name="userName" [(ngModel)]="createOrganizationManager.userName" required>
                            </div>
                            <div class="form-group">
                                <label for="contactName">Password</label>
                                <input type="text" class="form-control" id="password" placeholder="" name="password" [(ngModel)]="createOrganizationManager.password" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="" name="phoneNumber" [(ngModel)]="createOrganizationManager.phoneNumber">
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email</label>
                                <input type="email" class="form-control" id="emailAddress" placeholder="" name="emailAddress" [(ngModel)]="createOrganizationManager.emailAddress" required>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="onSaveOrganizationManager();">Submit</button>
                            <button type="reset" class="btn btn-default" (click)="createOrganizationManager = null;$event.stopPropagation()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let organizationManager of organizationManagers">
                            <td>{{organizationManager.userName}}</td>
                            <td>{{organizationManager.phoneNumber}}</td>
                            <td>{{organizationManager.email}}</td>
                            <td><button class="btn btn-danger" (click)="onDeleteOrganizationManager(organizationManager.username); $event.stopPropagation()">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

