<div class="row">
    <div class="col-md-6">
        <h2>Upcoming Schedule</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<h4>Choose a day below to view schedule</h4>

<div class="row">
    <div class="col-md-3">
        <div style="display:inline-block; min-height:290px;">
            <datepicker [(ngModel)]="calendarDate" (ngModelChange)="goToEmployeeScheduling()"></datepicker>
        </div>
    </div>
</div>