<h2>Organizations</h2>


<ul class="heroes">
    <li *ngFor="let organization of organizations" (click)="onSelect(organization)"
        [class.selected]="organization === selectedOrganization">
        <pre>{{organization | json}}</pre>
        <span class="badge">{{organization.organizationId}}</span>
        <span>{{organization.name}}</span>
        <button class="delete"
                (click)="onDeleteOrganization(organization.organizationId); $event.stopPropagation()">
            x
        </button>
    </li>
</ul>

<button (click)="onAddOrganization();">
    Add
</button>

<div *ngIf="selectedOrganization">
    <label>Name:</label> <input [(ngModel)]="selectedOrganization.name" />
    <label>Contact Name:</label> <input [(ngModel)]="selectedOrganization.contactName" />
    <label>Contact Phone:</label> <input  [(ngModel)]="selectedOrganization.contactPhone" />
    <label>Message:</label> <input  [(ngModel)]="selectedOrganization.message" />

    <button (click)="onSaveOrganization();">
        Save
    </button>
    <button (click)="selectOrganization = null;">
        Save
    </button>
</div>

