<div class="row">
    <div class="col-md-6">
        <h2>Setup</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Schedules</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddSchedule();">
            Add Schedule
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules" (click)="onScheduleSelect(schedule)">
                    <th scope="row">{{schedule.scheduleId}}</th>
                    <td>{{schedule.name}}</td>
                    <td><button class="btn" (click)="onEditSchedule(schedule); $event.stopPropagation()">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="onDeleteSchedule(schedule.scheduleId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="selectedSchedule" class="modal fade show in danger" id="scheduleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Schedule Details</h4>
            </div>
            <div class="modal-body">
                <form name="addScheduleForm">
                    <div class="form-group">
                        <label for="scheduleName">Name</label>
                        <input type="text" class="form-control" id="scheduleName" placeholder="" name="name" [(ngModel)]="selectedSchedule.name" required>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="selectedSchedule.startDate" [label]="'Start Date'"></my-datepicker>
                    </div>
                    <div class="form-group">
                        <my-datepicker [dateModel]="selectedSchedule.endDate" [label]="'End Date'"></my-datepicker>
                    </div>
                    <div class="form-group">
                        <label for="message">Active</label>
                        <select class="form-control" id="isActive" [(ngModel)]="selectedSchedule.isActive" name="isActive" required>
                            <option [value]="i" *ngFor="let i of [true,false]">{{i ? "Active" : "Inactive"}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSaveSchedule();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedSchedule = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Positions</h2>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="onAddPosition();">
            Add Position
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let position of positions" (click)="onPositionSelect(position)">
                    <th scope="row">{{position.positionId}}</th>
                    <td>{{position.name}}</td>
                    <td>{{position.category}}</td>
                    <td><button class="btn btn-danger" (click)="onDeletePosition(position.positionId); $event.stopPropagation()">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="selectedPosition" class="modal fade show in danger" id="positionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Position Details</h4>
            </div>
            <div class="modal-body">
                <form name="addPositionForm">
                    <div class="form-group">
                        <label for="positionName">Name</label>
                        <input type="text" class="form-control" id="positionName" placeholder="" name="name" [(ngModel)]="selectedPosition.name">
                    </div>
                    <div class="form-group">
                        <label for="positionCategory">Category</label>
                        <input type="text" class="form-control" id="positionCategory" placeholder="" name="category" [(ngModel)]="selectedPosition.category">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSavePosition();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedPosition = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>