<div class="row">
    <div class="col-md-6">
        <h2>Schedule</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>


<ul>
    <li *ngFor="let i of nextTenDays">
        <a (click)="goToEmployeeScheduling(organizationId, i)">{{i | date: 'MM/dd/yyyy'}}</a>
    </li>
</ul>