<div class="row">
    <div class="col-md-6">
        <h2>Schedule Setup</h2>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Schedule Details: {{scheduleName}} ({{scheduleStart | date: 'MM/dd/yyyy'}}-{{scheduleEnd | date: 'MM/dd/yyyy'}})</h2>
    </div>
    <div class="col-md-3">
        <button class="btn btn-success pull-right" (click)="onAddShift();">
            Add Shift
        </button>
    </div>
</div>

<div *ngIf="selectedShift" class="modal fade show in danger" id="shiftModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Shift</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" name="addShiftForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">Position</label>
                                <select class="form-control" id="position" [(ngModel)]="selectedShift.positionId" name="positionId">
                                    <option>Please Select</option>
                                    <option [value]="i.positionId" *ngFor="let i of positions">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">Day</label>
                                <select class="form-control" id="day" [(ngModel)]="selectedShift.day" name="day">
                                    <option>Please Select</option>
                                    <option [value]="i" *ngFor="let i of days">{{i}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">Start Time</label>
                                <select class="form-control" id="startHour" [(ngModel)]="selectedShift.startHour" name="startHour">
                                    <option [value]="i" *ngFor="let i of hours">{{("00"+i).slice(-2)}}</option>
                                </select>
                                <select class="form-control" id="startMinute" [(ngModel)]="selectedShift.startMinute" name="startMinute">
                                    <option [value]="i" *ngFor="let i of minutes">{{("00"+i).slice(-2)}}</option>
                                </select>
                                <select class="form-control" id="isStartAM" [(ngModel)]="selectedShift.isStartAM" name="isStartAM">
                                    <option [value]="i" *ngFor="let i of [true,false]">{{i ? "AM" : "PM"}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">End Time</label>
                                <select class="form-control" id="endHour" [(ngModel)]="selectedShift.endHour" name="endHour">
                                    <option [value]="i" *ngFor="let i of hours">{{("00"+i).slice(-2)}}</option>
                                </select>
                                <select class="form-control" id="endMinute" [(ngModel)]="selectedShift.endMinute" name="endMinute">
                                    <option [value]="i" *ngFor="let i of minutes">{{("00"+i).slice(-2)}}</option>
                                </select>
                                <select class="form-control" id="isEndAM" [(ngModel)]="selectedShift.isEndAM" name="isEndAM">
                                    <option [value]="i" *ngFor="let i of [true,false]">{{i ? "AM" : "PM"}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSaveShift();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedShift = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let gridDay of days">
    <div class="row bg-info">
        <div class="col-md-12">
            <h2>{{gridDay}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Position</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let shift of getDayShifts(gridDay)" (click)="onShiftSelect(shift)">
                        <th scope="row">{{shift.shiftId}}</th>
                        <td>{{positionName(shift.positionId, positions)}}</td>
                        <td>{{shift.day}}</td>
                        <td>{{("00"+shift.startHour).slice(-2)}}:{{("00"+shift.startMinute).slice(-2)}} {{shift.isStartAM?"AM":"PM"}}-{{("00"+shift.endHour).slice(-2)}}:{{("00"+shift.endMinute).slice(-2)}} {{shift.isEndAM?"AM":"PM"}}</td>
                        <td><button class="btn btn-danger" (click)="onDeleteShift(shift.shiftId); $event.stopPropagation()">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

