<div class="row">
    <div class="col-md-6">
        <h2>{{scheduleName}} <span class="small">({{scheduleStart | date: 'MM/dd/yyyy'}}-{{scheduleEnd | date: 'MM/dd/yyyy'}})</span></h2>
        <select class="form-control" id="showDay" [(ngModel)]="showDay" name="showDay">
            <option value="all">All Days</option>
            <option [value]="i" *ngFor="let i of days">{{i}}</option>
        </select>
    </div>
    <div class="col-md-6">
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/organization','schedule', organizationId]">Schedule</a></li>
                <li><a [routerLink]="['/organization','employees', organizationId]">Employees</a></li>
                <li><a [routerLink]="['/organization','detail', organizationId]">Setup</a></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="selectedShift" class="modal fade show in danger" id="shiftModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="selectedShift = null;$event.stopPropagation()">&times;</button>
                <h4 class="modal-title">Add Shift</h4>
            </div>
            <div class="modal-body">
                <my-errors [errors]="shiftErrors"></my-errors>
                <form class="form-inline" name="addShiftForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">Position</label>
                                <select class="form-control" id="position" [(ngModel)]="selectedShift.positionId" name="positionId" required>
                                    <option>Please Select</option>
                                    <option [value]="i.positionId" *ngFor="let i of positions">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" style="width: 100px;">Day</label>
                                <select class="form-control" id="day" [(ngModel)]="selectedShift.day" name="day" required>
                                    <option>Please Select</option>
                                    <option [value]="i" *ngFor="let i of days">{{i}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" class="pull-left" style="width: 100px;">Start Time</label>
                                <timepicker class="pull-left" name="startTime" [(ngModel)]="selectedShift.startTime" [minuteStep]="15"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="position" class="pull-left" style="width: 100px;">End Time</label>
                                <timepicker class="pull-left" name="endTime" [(ngModel)]="selectedShift.endTime" [minuteStep]="15"></timepicker>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onSaveShift();">Submit</button>
                <button type="reset" class="btn btn-default" (click)="selectedShift = null;$event.stopPropagation()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let gridDay of days">
    <div class="bs-callout bs-callout-default" *ngIf="showDay == 'all' || showDay == gridDay">
        <div class="row">
            <div class="col-md-8">
                <h4>{{gridDay}}</h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary pull-right" (click)="onAddShift(gridDay);">
                    Add Shift
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shift of getDayShifts(gridDay)" (click)="onShiftSelect(shift)">
                            <td>{{positionName(shift.positionId, positions)}}</td>
                            <td>{{shift.day}}</td>
                            <td>{{shift.startTimeDisplay}}-{{shift.endTimeDisplay}}</td>
                            <td><button class="btn btn-danger" (click)="onDeleteShift(shift.shiftId); $event.stopPropagation()">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


