@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <my-app>Loading...</my-app>
}
else
{
    <h1>Login to continue</h1>
}


@section headScripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/libs/shim.min.js"></script>
        <script src="~/libs/zone.js"></script>
        <script src="~/libs/Reflect.js"></script>
        <script src="~/libs/system.src.js"></script>
        <!-- 2. Configure SystemJS -->
        <script src="~/systemjs.config.js"></script>
        <script>
        System.import('app')
            .catch(function (err) {
                console.error(err);
            });
        </script>

    }
}